.top {
    height: 4rem;
    margin-bottom: 1rem;
    width: 27.25vw;
    position: absolute;
    right: 2rem;
}

.cont {
    margin-top: 5rem;
    height: calc(100vh - 6rem);
    padding: 2rem;
    overflow-y: scroll;
}

.entry {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
}

.noRecords {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}