.main{
    position: relative;
}

.top{
    height: 4rem;
    margin-bottom: 1rem;
    width: 35%;
    position: absolute;
    right: 2rem;
}

.cont{
    margin-top: 2.48rem;
}

.content{
    height: 80vh;
}