.main{
    position: relative;
}

.top{
    height: 4rem;
    margin-bottom: 1rem;
    width: 27.25vw;
    position: absolute;
    right: 2rem;
    background-color: white;
}

.cont{
    margin-top: 2.48rem;
}

.content{
    padding-left: 1rem;
    height: 80vh;
    /* display: flex; */
}