.main{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #274c77;
}

.main .nav-link{
    color: white !important;
}

.formcont{
    padding: 2.5rem 3.5rem;
    background-color: #f0f7ee;
}

.input {
    padding: 1rem 2rem !important;
    width: 20rem;
    margin: 0.5rem;
}

.button {
    padding: 1rem 2rem !important;
    width: 15rem;
    margin-top: 2rem;
    background: #274c77 !important;
    font-size: 18px !important;
}

.tabLogin{
    color: white !important;
}