.main{
    position: relative;
}

.textcont{
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    margin: auto;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.progBar{
    transform-origin: center;
    transform: rotate(270deg);
}