.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f7ee;
}

.angles{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.angleleft{
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.angleright{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.angle{
    padding: 0.75rem 1rem;
    width: 15rem;
    margin: 1rem 0;
    outline: none;
    border: none;
}

.button{
    border: none;
    width: 15rem;
    padding: 0.75rem 3rem;
    background-color: #279af1;
    border: 1px solid #279af1;
}

.btn_outline{
    background: none !important;
}